 <!-- <h1>{{userID}}</h1>-->
  <h2 class="text-uppercase">{{title}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.username}} on {{format_date date_created}}</p>
  <hr>
  <h4>Comments</h4>
  <hr>
  {{#each comments as |comment| }}
  <p>{{comment.comment}}</p>
  <p>Posted by {{user.username}} on {{format_date date_created}}</p>
  <hr>
  {{/each}}
  {{#if logged_in}}
  <form class="comment-form">
<textarea class="comment-text w-50" placeholder="Add your comment here"></textarea>
  <p>
    <button class="btn btn-primary btn-comment" type="submit">Add A Comment</button>
  </p>
  </form>
<script src="/js/comments.js"></script>
  {{else}}
  <a href="/login">Sign in to comment</a>
  {{/if}}
  


